[Desktop Entry]
Type=Application
Exec=gnome-terminal -e "/bin/bash -c 'source `find /opt/ros -maxdepth 2 -name setup.bash | sort | head -1` && export RCUTILS_COLORIZED_OUTPUT=1 && export ROS_LOCALHOST_ONLY=1 && ros2 launch dbw_ford_joystick_demo joystick_demo.launch.xml sys:=true rviz:=false'"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Joystick Demo
Name=Joystick Demo
Comment[en_US]=
Comment=
